*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
#parent{
    width: 50px;
    height: 20px;
}
button{
    border-radius: 20px;
    height: 40px;
    width: 30px;
}

